<div class="plr-small-video">
    <div class="plr-outer">
        <a href="{{link}}">
            <div class="plr-title">{{title}}</div>
        </a>
        <div class="plr-video">
            <iframe src="{{custom.Video_URL}}"></iframe>
            <img src="{{getThumbHref}}" style="display:none;">
        </div>
        <div class="plr-sponsored">
            <div class="plr-label">Promoted</div>
            <img class="plr-logo" src="{{sponsor.logo.href}}">
        </div>
    </div>
</div>